openai>=1.40.0
python-dotenv>=1.0.1
requests>=2.32.0
tqdm>=4.66.0
pydub>=0.25.1
whisperx>=3.3.0
gdown>=5.2.0
librosa>=0.10.2
opencv-contrib-python>=4.10.0
scipy>=1.13
numba>=0.60
soundfile>=0.12.1
resampy>=0.4.3
